<div class="container bg-body-secondary d-flex align-items-center flex-column">
    <div class="row">
        <div class="col">
            <h3>Dashboard</h3>
        </div>
    </div>
    <div class="row gap-3">
        <div class="col-5 bg-light">
            <StatisticsSection 
                MachineCount="Machines.Count" 
                OnlineMachineCount="Machines.Count(m => m.IsOnline)" 
                OfflineMachineCount="Machines.Count(m => !m.IsOnline)"
                LastEditedMachineName="@Machines.OrderBy(m => m.LastUpdated).Last().Name" />
        </div>
        <div class="col-6 bg-light w-100">
            <table class="w-100">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Last Data</th>
                        <th>Last Updated</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var machine in Machines) {
                        <tr>
                            <td>
                                <div class="machine-name">@machine.Name</div>
                                <div class="machine-id">@machine.Id</div>
                            </td>
                            <td>
                                @if (machine.IsOnline) {
                                    <div class="bg-success p-2 rounded">
                                        Online
                                    </div>
                                } else {
                                    <div class="bg-danger p-2 rounded">
                                        Offline
                                    </div>
                                }
                            </td>
                            <td>
                                @machine.LastData
                            </td>
                            <td>
                                @machine.LastUpdated
                            </td>
                            <td>
                                <button>@(machine.IsOnline ? "Stop" : "Start")</button>
                                <button>Edit</button>
                                <button>Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IReadOnlyList<Machine> Machines { get; set; } = [];
}